diffusers==0.32.2
torch==2.6.0
torchvision==0.15.1
transformers==4.37.1
accelerate
safetensors
einops
onnxruntime-gpu
spaces==0.19.4
omegaconf
peft
huggingface-hub==0.29.1
opencv-python
insightface
gradio
controlnet_aux
gdown
peft